---
# handlers file for ansible-pf

# sshd job
- name: Unload /Library/LaunchDaemons/drew.pf.ssh-bruteforce.expire.plist
  command: launchctl unload /Library/LaunchDaemons/drew.pf.ssh-bruteforce.expire.plist
  become: yes
  listen: Reload /Library/LaunchDaemons/drew.pf.ssh-bruteforce.expire.plist
  when:
    - ansible_os_family == 'Darwin'
    - pf_ssh_bf_tbl_plist.stat.exists
  tags:
    - pf

- name: Load /Library/LaunchDaemons/drew.pf.ssh-bruteforce.expire.plist
  command: launchctl load -w /Library/LaunchDaemons/drew.pf.ssh-bruteforce.expire.plist
  become: yes
  listen: Reload /Library/LaunchDaemons/drew.pf.ssh-bruteforce.expire.plist
  when: ansible_os_family == 'Darwin'
  tags:
    - pf


# emerging-threats job
- name: Unload /Library/LaunchDaemons/drew.pf.emerging-threats.update.plist
  command: launchctl unload /Library/LaunchDaemons/drew.pf.emerging-threats.update.plist
  become: yes
  listen: Reload /Library/LaunchDaemons/drew.pf.emerging-threats.update.plist
  when:
    - ansible_os_family == 'Darwin'
    - pf_eto_update_plist.stat.exists
  tags:
    - pf

- name: Load /Library/LaunchDaemons/drew.pf.emerging-threats.update.plist
  command: launchctl load -w /Library/LaunchDaemons/drew.pf.emerging-threats.update.plist
  become: yes
  listen: Reload /Library/LaunchDaemons/drew.pf.emerging-threats.update.plist
  when: ansible_os_family == 'Darwin'
  tags:
    - pf


# pfctl job
- name: Unload /System/Library/LaunchDaemons/com.apple.pfctl.plist
  command: launchctl unload /System/Library/LaunchDaemons/com.apple.pfctl.plist
  become: yes
  listen: Reload pfctl
  when: ansible_os_family == 'Darwin'
  tags:
    - pf

- name: Load /System/Library/LaunchDaemons/com.apple.pfctl.plist
  command: launchctl load /System/Library/LaunchDaemons/com.apple.pfctl.plist
  become: yes
  listen: Reload pfctl
  when: ansible_os_family == 'Darwin'
  tags:
    - pf

- name: Warning message
  debug:
    msg:
    - Attention, the MacOS system /etc/pf.conf was modified.
    - Custom redirect anchor was added.
    - Please be noted that this file may be overwritten during future system updates.
    - I know no ways to add custom redirect anchors on MacOS without modifying original /etc/pf.conf
  tags:
    - pf
...
