#====== TABLES ======#
table <ssh_bruteforce> persist
#====================#

#==== FILTERING =====#
block log quick from <ssh_bruteforce>
pass in inet proto tcp to any port ssh flags S/SA keep state \
	(max-src-conn 5, max-src-conn-rate 5/5, \
	overload <ssh_bruteforce> flush global)
#====================#
