{% if pf_macros != '' %}
#====== MACROS start =====#
{{ pf_macros }}
#======= MACROS end ======#
{% endif %}

{% if pf_tables != '' %}
#====== TABLES start =====#
{{ pf_tables }}
#======= TABLES end ======#
{% endif %}

{% if pf_options != '' %}
#===== OPTIONS start =====#
{{ pf_options }}
#====== OPTIONS end ======#
{% endif %}

{% if pf_normalization != '' %}
#=== NORMLIZATION start ==#
{{ pf_normalization }}
#==== NORMLIZATION end ===#
{% endif %}

{% if pf_queueing != '' %}
#==== QUEUEING start =====#
{{ pf_queueing }}
#===== QUEUEING end ======#
{% endif %}

{% if pf_translation != '' %}
#=== TRANSLATION start ===#
{{ pf_translation }}
#==== TRANSLATION end ====#
{% endif %}

{% if pf_filtering != '' %}
#==== FILTERING start ====#
{{ pf_filtering }}
#===== FILTERING end =====#
{% endif %}
