#====== MACROS start =====#
{% if pf_macros != '' %}{{ pf_macros }}{% endif %}
#======= MACROS end ======#

#====== TABLES start =====#
{% if pf_tables != '' %}{{ pf_tables }}{% endif %}
#======= TABLES end ======#

#===== OPTIONS start =====#
{% if pf_options != '' %}{{ pf_options }}{% endif %}
#====== OPTIONS end ======#

#=== NORMLIZATION start ==#
{% if pf_normalization != '' %}{{ pf_normalization }}{% endif %}
#==== NORMLIZATION end ===#

#==== QUEUEING start =====#
{% if pf_queueing != '' %}{{ pf_queueing }}{% endif %}
#===== QUEUEING end ======#

#=== TRANSLATION start ===#
{% if pf_translation != '' %}{{ pf_translation }}{% endif %}
#==== TRANSLATION end ====#

#==== FILTERING start ====#
{% if pf_filtering != '' %}{{ pf_filtering }}{% endif %}
#===== FILTERING end =====#
